/*==== ALL TIME DEFAULTS ====*/

body {
    margin: 0px;
    background-color: #eee;
    font-size: 12px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000;
}

.container {
    width: 100%;
}

.stripe {
    width: 100%;
    margin-top: 10px;
}

.content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.half {
    width: 47%;
    height: auto;
    display: inline-block;
}

.a_third {
    width: 29%;
    padding-left: 20px; 
    padding-right: 20px;
    display: inline-block;
}

.justifier {
    display: inline-block;
    width: 100%;
    height: 0px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

.align_left: {
    text-align: left;
}
.align_right: {
    text-align: right;
}
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
.valign_top {
    vertical-align: top;
}
.valign_middle {
    vertical-align: middle;
}
.active {
    display: block;
}
.inactive {
    display: none;
}

/*==== CURRENT DOCUMENT DEFAULTS ====*/

.sans_serif {
    font-family: Open Sans, Lato, Roboto, sans-serif;
}

/*==== CURRENT DOCUMENT ====*/

#tab2 {
    text-align: right;
}

/*== header ==*/

.logo {
    display: inline-block;
    text-align: center;
}

.net {
    color: #555;
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
}

.sales {
    color: #000;
    font-size: 2em;
    font-weight: 200;
    line-height: 1em;
}

.menu {
    display: inline-block;
}

.menu ul li{
    color: #333;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 2em;
}

.menu ul li:nth-child(3) {
    color: white;
    padding: 0.3em 1.2em;
    background-color: #666;
}
.menu a:link {
    text-decoration: none;
}
.menu a:visited {
    text-decoration: none;
    color: #333;

}
.menu a:hover {

}
.menu a:active {

}

#sign_up {
    color: white;
}

.menu_button {
    display: none;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    width: 40px;
    padding: 8px 0px;
    background-color: #666;
    text-align: center;
}

/*== hero ==*/

.hero {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #666;
    height: auto;
}

.hero_text {
    padding-left: 30px;
    color: white;
    position: relative;
    top: 0px;
}

.hero_text h1 {
    font-size: 3em;
    font-weight: 300;
    
}
.vid_container {
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	
}

.vid {
    border: 5px solid aqua;
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    overflow: hidden;
}

/*== 1st section - INDEX ==*/

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.box {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*== 1st section - SIGN IN/SIGN UP ==*/

.sign_in, .sign_up {
    
    
    font-size: 1.2em;
    display: inline-block;
}
.sign_in {
    color: #333;
    padding: 10px 0px;
    background-color: #ccc;
    width: 50%;
    
}
.sign_up {
    color: white;
    padding: 6px 0px;
    background-color: #999;
    width: 48%;
    
}

.form_body {
    text-align: left;
    padding: 1px;
    background-color: #ccc;
}
.form_body input {
    margin: 10px;
    margin-bottom: 20px;
    display: block;
   
}
form {
    margin: 40px;
    font-size: 1.2em;
}
.form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*== 1st section - COURSES ==*/

.courses {
    color: white;
    font-size: 3em;
    font-weight: 600;
    
}


/*== 1st section - COURSE_OVERVIEW ==*/
.a1 {
    float: right;
    display: inline-block;
    padding: 5px 20px;
    font-size: 0.7em;
    border: 1px solid white;
    font-weight: 500;
}
.a2 {
    display: none;
    color: #999;
    font-size: 2.1em;
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid #999;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}


.courses>a:link, .courses>a:visited, .courses>a:hover, .courses>a:active {
    color: white;
}

#hours {
    font-weight: 300;
    font-size: 0.7em;
}

.course_line {
    margin-top: 0;
    font-size: 3em;
    font-weight: 300;
    padding: 10px 0px;
    text-align: center;
}

.side_box {
    padding: 10px;
    background-color: #666;
    width: 30%;
}

.course_tree {
    max-width: 840px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.course_tree span{
    margin-left: 20px;}

.course_tree h1 {
    margin-top: 0px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #ddd;
    color: #666;
}

.course_tree p {
    color: #666;
    padding-left: 40px;
}

.course_tree hr {
    color: #666;
    margin-bottom: 40px;
}

.enroll {
    padding: 5px 30px;
    float: right;
    display: inline-block;
    background-color: #99cccc;
}


/*== 1st section - SUPPORT ==*/
.form_body > h1 {
    font-size: 2.4em;
    font-weight: 300;
    margin-top: 30px;
    color: #666;
    text-align: center;
}


.support_wrap {
    max-width: 800px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.support_box {
    padding: 1px 20px;
    background-color: #ddd;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bbb;
}
.support_box h1 {
    display: inline-block;
    color: #333;
}
.subtitle {
    font-weight: 200;
    color: #333;
}
.view_post {
    color: #996666;
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px 20px;
    margin-top: 20px;
    float: right;
    display: inline-block;
    background-color: #ddd;
    
}
.view_post:hover {
    box-shadow: 1px 2px 5px #666;
    color: #ff6666;
}
textarea {
    display: block;

}

/*== footer ==*/

footer {
    background-color: #999;
}

.f_box {
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom_stripe {
    padding: 12px 0px;
    color: white;
    text-align: center;
    background-color: #333;
    
}

/*== MEDIA QUERIES ==*/

@media (max-width: 1200px) {
    .content {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .a_third {
        width: 28%;
    }
}

@media (max-width: 840px) {
    .half, .a_third {
        display: block;
        width: auto;
    }
    .vid_container {
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .a1 {
        display: none;
    }
    .a2 {
        display: inline-block;
    }
}
@media (max-width: 640px) {
    .menu {
        display: none;
    }
    .menu_button {
        display: inline-block;
    }
    
}